{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "printWidth": 1000,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid"
  }